<h1>Welcome to Secret Number!</h1>

<p>2 play da game, u guess a numba.
	If you guess the <em>numba</em>, you win<p>

<p>chooz carefuly.. u get 1 try</p>

<h2>Pick a number</h2>

<% (1..5).each do |number| %>
	<%=link_to image_tag("secret_numbers/#{number}.jpeg"), 
	secret_number_path(number) %>

<% end %>