<h1>Welcome to the GameCentre</h1>

<p>Choose a game below to get started: </p>

<table>
	<tr>
			<td>
					<h4>Secret Number</h4>
					<%= link_to image_tag("games/secret-number.jpg"), new_secret_number_path %>			</td>
			<td>
					<h4>Coming soon!</h4>
			</td>
	</tr>
</table>